<!DOCTYPE html>
<html lang="en">
<head>
  <title>Agents List</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>
	<div class="container">
		<h2>All Agents</h2>
		<button><a href="/agent/add/">Add a new agent</a></button>
	<table class="table table-striped table-bordered">
		<tr>
			<th>First_name</th>
			<th>Last_name</th>
			<th>Description</th>
			<th>Edit</th>
		</tr>
		{% for agent in agents %}
		<tr>
			<td>{{agent.name}}</td>
			<td>{{agent.client}}</td>
			<!-- <td><a href="/agent/view/{{agent.pk}}">View more</a></td>
			<td><a href="/agent/edit/{{agent.pk}}">Edit agent</a></td> -->
		</tr>
		{% endfor %}
	</table>
	</div>
</body>